[submodule "donpetre-gateway"]
	path = donpetre-gateway
  url = git@github.com:mike-norris/donpetre-gateway.git
  branch = main
[submodule "knowledge-ingestion"]
	path = donpetre-knowledge-ingestion
  url = git@github.com:mike-norris/donpetre-knowledge-ingestion.git
  branch = main
[submodule "donpetre-management-service"]
	path = donpetre-management-service
  url = git@github.com:mike-norris/donpetre-management-service.git
  branch = main
[submodule "donpetre-search-service"]
	path = donpetre-search-service
  url = git@github.com:mike-norris/donpetre-search-service.git
  branch = main
[submodule "donpetre-ui"]
	path = donpetre-ui
	url = git@github.com:mike-norris/donpetre-ui.git
  branch = main
